<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vip.bd.mapper.NavigationMapper">
  <resultMap id="BaseResultMap" type="com.vip.bd.domain.entity.Navigation">
    <id column="nav_id"  property="navId" />
    <result column="nav_name"  property="navName" />
  </resultMap>

  <select id="findNavigations" resultMap="BaseResultMap">
    select nav_id, nav_name
    from navigation
  </select>
</mapper>