<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vip.bd.mapper.PropertyMapper">

  <resultMap id="BaseResultMap" type="com.vip.bd.domain.entity.Property">
    <id column="property_id" jdbcType="INTEGER" property="propertyId" />
    <result column="cate_id" jdbcType="INTEGER" property="cateId" />
    <result column="property_name" jdbcType="VARCHAR" property="name" />
  </resultMap>

</mapper>